/* YOUR CSS HERE */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding: 1rem;
  background-color: rgb(109, 117, 161);
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  background-color: rgb(237, 179, 250);
}

.carousel {
  position: relative;
  width: 100%;
}

.products {
  width: 80%;
  max-width: 600px;
  overflow: hidden;
  position: relative;
}

.image-wrap {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.image-wrap li {
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.product-img {
  width: 100%;
}

.product-img {
  background-color: rgb(221, 221, 221);
  width: 100%;
  height: 50%;
}

.btn {
  position: absolute;
  top: 25%;
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  font-size: 3rem;
  cursor: pointer;
}

.prev {
  left: -5px;
}

.next {
  right: -5px;
}

.nav {
  display: flex;
  justify-content: space-between;
}
